---
import Divider from '@/components/Divider.astro'
import Image from '@/components/Image.astro'
import Link from '@/components/Link.astro'
import LinkButton from '@/components/LinkButton.astro'
import Facebook from '@/components/icons/Facebook.astro'
import Telegram from '@/components/icons/Telegram.astro'
import Twitter from '@/components/icons/Twitter.astro'
import WhatsApp from '@/components/icons/WhatsApp.astro'
import StudieCard from '@/components/studies/StudieCard.astro'
import Heading from '@/components/typography/Heading.astro'
import Text from '@/components/typography/Text.astro'
import { getI18N } from '@/i18n'
import { getLangFromUrl, useTranslatedPath } from '@/i18n/utils'
import RootLayout from '@/layouts/RootLayout.astro'
import { formatSlug } from '@/utils/articles'
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import { Mail } from '@lucide/astro'
import FormattedDate from '../components/FormattedDate.astro'

const lang = getLangFromUrl(Astro.url)
const i18n = getI18N({ currentLocale: lang })
const translatePath = useTranslatedPath(lang)

type Props = { slug: string } & CollectionEntry<'studies'>['data']
const { slug, title, description, createdAt, updatedAt, imageSrc, imageAlt, book } = Astro.props

const posts = (
  await getCollection('studies', entry => {
    return entry.slug.startsWith(lang) && entry.slug !== lang + '/' + slug
  })
).sort((a, b) => b.data.createdAt.valueOf() - a.data.createdAt.valueOf())
---

<RootLayout title={title} description={description}>
  <main>
    <article>
      <section class='grid gap-12 pt-44'>
        <div class='max-w-screen-md grid gap-10 container-grid'>
          <div class='flex items-center gap-12 md:gap-20 mb-12'>
            <Link wrapper href={`${translatePath('/estudios/libros')}/${book.toLocaleLowerCase()}`}>
              <div
                class='bg-primary-subtler hover:bg-primary-subtler-hover py-1 outline outline-accent-orange px-8 rounded-sm'>
                <Text size='xs' tablet='sm' class='text-primary-base'>
                  {i18n.common.labels.bookOf}{' '}
                  {book}
                </Text>
              </div>
            </Link>
            <FormattedDate date={createdAt} class='text-base-subtle' />
            {
              updatedAt && (
                <Text>
                  {i18n.common.labels.updated}:{' '}
                  <FormattedDate date={updatedAt} class='text-base-subtle' />
                </Text>
              )
            }
          </div>
          <Heading size='sm' tablet='base' tv='lg'>{title}</Heading>
          <Text tv='lg' characters='lg'>{description}</Text>
          <div class='flex items-center gap-8 mt-12'>
            <LinkButton
              href={`https://www.facebook.com/sharer/sharer.php?u=${Astro.url}`}
              target='_blank'
              size='icon'
              variant='outline'
              title={`${i18n.common.actions.shareOn} Facebook`}>
              <Facebook class='size-icon-sm' />
            </LinkButton>
            <LinkButton
              href={`https://twitter.com/intent/tweet?text=${title}&url=${Astro.url}`}
              target='_blank'
              size='icon'
              variant='outline'
              title={`${i18n.common.actions.shareOn} Twitter`}>
              <Twitter class='size-icon-sm' />
            </LinkButton>
            <LinkButton
              href={`https://t.me/share/url?url=${Astro.url}&text=${title}`}
              target='_blank'
              size='icon'
              variant='outline'
              title={`${i18n.common.actions.shareOn} Telegram`}>
              <Telegram class='size-icon-sm' />
            </LinkButton>
            <LinkButton
              href={`https://api.whatsapp.com/send?text=${title}%20+${Astro.url}`}
              target='_blank'
              size='icon'
              variant='outline'
              title={`${i18n.common.actions.shareOn} WhatsApp`}>
              <WhatsApp class='size-icon-sm' />
            </LinkButton>
            <LinkButton
              href={`mailto:?subject=${title}&body=${description}%20${Astro.url}`}
              target='_blank'
              size='icon'
              variant='outline'
              title={`${i18n.common.actions.shareOn} Email`}>
              <Mail class='size-icon-sm text-icon-base' />
            </LinkButton>
          </div>
        </div>
        <div class='mt-12'>
          <Image
            src={`/images/studies/${imageSrc}`}
            alt={imageAlt}
            class='aspect-video rounded-none lg:rounded-base object-cover md:max-w-screen-lg max-w-screen-md mx-auto lg:w-[90%] animate-fade-up animate-duration-base animate-ease-base'
          />
        </div>
      </section>
      <section class='container-grid md:max-w-screen-md grid gap-24 md:gap-32 py-40'>
        <slot />
        <Divider full class='my-12' />
        <div class='flex flex-col gap-14'>
          <Text type='label' tablet='lg'>{i18n.common.actions.shareOn}</Text>
          <div class='flex items-center gap-8'>
            <LinkButton
              href={`https://www.facebook.com/sharer/sharer.php?u=${Astro.url}`}
              target='_blank'
              size='icon'
              variant='outline'
              title={`${i18n.common.actions.shareOn} Facebook`}>
              <Facebook class='size-icon-sm' />
            </LinkButton>
            <LinkButton
              href={`https://twitter.com/intent/tweet?text=${title}&url=${Astro.url}`}
              target='_blank'
              size='icon'
              variant='outline'
              title={`${i18n.common.actions.shareOn} Twitter`}>
              <Twitter class='size-icon-sm' />
            </LinkButton>
            <LinkButton
              href={`https://t.me/share/url?url=${Astro.url}&text=${title}`}
              target='_blank'
              size='icon'
              variant='outline'
              title={`${i18n.common.actions.shareOn} Telegram`}>
              <Telegram class='size-icon-sm' />
            </LinkButton>
            <LinkButton
              href={`https://api.whatsapp.com/send?text=${title}%20+${Astro.url}`}
              target='_blank'
              size='icon'
              variant='outline'
              title={`${i18n.common.actions.shareOn} WhatsApp`}>
              <WhatsApp class='size-icon-sm' />
            </LinkButton>
            <LinkButton
              href={`mailto:?subject=${title}&body=${description}%20${Astro.url}`}
              target='_blank'
              size='icon'
              variant='outline'
              title={`${i18n.common.actions.shareOn} Email`}>
              <Mail class='size-icon-sm text-icon-base' />
            </LinkButton>
          </div>
        </div>
      </section>

      <section class='py-60 mt-24 bg-surface'>
        <div class='container-grid'>
          <Heading size='sm' level={2} tablet='base'>{i18n.common.labels.recomendations}</Heading>

          <div class='grid gap-32 md:grid-cols-2 md:gap-x-16 lg:grid-cols-3 mt-24'>
            {
              posts.slice(0, 3).map(post => {
                const formatedSlug = formatSlug(post.slug)

                return (
                  <StudieCard
                    book={post.data.book}
                    createdAt={post.data.createdAt}
                    updatedAt={post.data.updatedAt}
                    slug={formatedSlug}
                    title={post.data.title}
                    description={post.data.description}
                    imageSrc={post.data.imageSrc}
                    imageAlt={post.data.imageAlt}
                  />
                )
              })
            }
          </div>
        </div>
      </section>
    </article>
  </main>
</RootLayout>
